CompileFlags:
  Add:
    - "-xc"
    - "-std=c23"
    - "-D_POSIX_C_SOURCE=200809L"
    - "-D_XOPEN_SOURCE=700"
    - "-D_DARWIN_C_SOURCE"
    - "-Wall"
    - "-Wextra"
    - "-Werror"
    - "-Wno-unused-parameter"
    - "-fno-asm"
    - "-Iinclude"

